.back__button {
    font-size: 1.5rem;
    width: 100%;
}

.project-slides {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.container.inner__project-container {
    width: 40%;
    @media screen and (max-width: 1024px) {
        width: 60%;
    }
}

.inner__project > h4 {
    color: var(--color-primary)
}

.inner__project > p {
    margin: 1rem auto;
    text-align: justify;
}

.project-slide > .inner__project-image img, 
.project-slide > .inner__project-video iframe {
    height: 20rem;
    width: 100%;
}
.inner__project-image img, 
.inner__project-video iframe {
    width: 100%;
}

#lattice-img {
    width: 100%;
    height: 100%;
}

.btn.btn-primary.btn-publication {
    margin: 1rem auto;
    font-size: .8rem;
}

.caption {
    margin-top: 0;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
    .container.inner__project-container {
        width: 100%;
        margin: 0.35rem;
    }
    .project-slides {
        width: 100%;
    }

}
