
.projects__container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content:center;
}
.project__content {
    width: 10rem;
    aspect-ratio: 1/1;
}

.project__content > h5 {
    color: var(--color-bg);
}

.project-image {
    border-radius: 0.5rem;
    margin: 0.5rem;
    overflow: hidden;
}
.project {
    margin: 0.25rem;
    padding: 0.25rem;
    display: block;
    background: var(--color-primary);
    border: 1px solid var(--color-bg);
    border-radius: 0.5rem;
}
.project:hover {
    background: var(--color-primary-variant);
}


/* Media Queies (Medium and Small Devices) */
@media screen and (max-width: 1024px) {
    .project__content {
        width: 8rem;
        aspect-ratio: 1/1;
    }
}
