.container.outreach__container {
    border-radius: 2rem;
    width: 30rem;
    background: var(--color-bg);
    border: 1px solid transparent;
    transition: var(--transition);
    padding: 2rem 2rem 0 2rem;
}

.outreach {
    background: var(--color-bg);
    text-align: center;
    padding: 0.5rem 0.5rem 1.0rem 0.5rem;
    user-select: none;
    text-align: justify;
}
.outreach__title {
    text-align: center;
}
.container.outreach__container:hover {
    border: 1px solid var(--color-primary-variant);
}

.outreach__description {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    text-align: justify;
    margin: 0.8rem 1rem 3rem 1rem;
}

/* Media Queies (Medium Devices) */
@media screen and (max-width: 1024px) {
    .container.outreach__container {
        width: 60%;
    }
}

/* Media Queies (Small Devices) */
@media screen and (max-width: 600px) {
    .container.outreach__container {
        width: 95%;
    }
}