header {
    height: auto;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Header Socials */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left:0;
    bottom: 3rem;
}

.header__socials::before {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary)
}
.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary)
}

/* Me */
.me {
    width: 28rem;
    position: relative;
    left: calc(50% - 14rem);
    background: linear-gradient(var(--color-primary-variant), transparent);
    margin-top: 4rem;
    border-radius: 15rem 15rem 0 0;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

/* scroll down */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media Queies (Small Devices) */
@media screen and (max-width: 600px) {
    .header__socials, .scroll__down {
        display: none;
    }

    .header__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        margin: 1rem;
        position: relative;
        top: 0;
    }
    
    .header__socials::before {
        content: '';
        width: 0;
        height: 0;
        background: none;
    }
    .header__socials::after {
        content: '';
        width: 0;
        height: 0;
        background: none;
    }

    .me {
        width: 100vw;
        left: calc(50% - 50vw);
        background: linear-gradient(var(--color-primary-variant), transparent);
        margin-top: 4rem;
        border-radius: 50vw 50vw 0 0;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
    }
}
